
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

header h1 a {
    color: ForestGreen;
    text-decoration: none;
}



.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
    margin: 20px;

}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}
.post-entry h2 a:hover {
    color: red;
}
#button{
background-color: #FF7F50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 26px;
margin: 4px 2px;
cursor: pointer;
border-radius: 8px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#button:hover {background-color: coral}
#button:active {
background-color: coral;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

